#title {
    margin: 0px 25px 0px 0px;
    color: white;
}

#mainHeader {
    background-color: dodgerblue;
}

#homeNav {
    color: white;
    padding: 35px 10px;
    margin: 0px;
}

#savedArticlesNav {
    color: white;
    padding: 35px 10px;
    margin: 0px;
}

#scrapeNewArticlesButton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wordTitles {
    text-align: center;
}

#mongoTitle {
    color: black;
    font-size: 75px;
}

.nytTitle {
    color: black;
    font-size: 75px;
}

#imageContainer {
    background-image: url('/images/newspaper.jpg');
    background-repeat: no-repeat;
    height: 250px;
    opacity: 0.8
}

.scrapedArticlesContainer {
    background-color: beige;
    font-weight: bolder;
    border: solid 3px black;
}

.articleScrapedDiv {
    background-color: beige;
    font-weight: bolder;
    border: solid 3px black;
}

.articleScrapedInDiv {
    background-color: beige;
    font-weight: bolder;
    border: solid 3px black;
}

.articleSaveButton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.articleNoteButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
#savedArticlesTitle{
    color: black;
    font-size: 75px;
}

.savedArticlesContainer {
    background-color: beige;
    font-weight: bolder;
    border: solid 3px black;
}

.articleDeleteButton{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.articleSeeNoteButton{
background-color: blue;
border: none;
color: white;
padding: 15px 32px;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 10px;
}
#modalSubmitButton{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;

}


#noteContent {
    width: 465px;
    height: 200px;
    margin-left:16px;
   
}